/* Block quote. */
.quote:after {
    background: var(--black-cherry);
}

/* Paragraphs on the about page. */
.about-page p {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
}

/* Emphasized words in the paragraphs*/
.about-page p strong {
    color: var(--sage);
    font-family: var(--font-big-shoulders-text);
    font-size: 1.2em;
    letter-spacing: 0.05rem;
}

/* The list of childhood activities and hobbies. */
.about-page ul {
    list-style: circle outside;
    padding-left: 2rem;
}

/* Make the images fit inside of same-sized containers. */
.about-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Sections on the about page. */
.about-page section {
    padding: 0rem 1.5rem 4rem 1.5rem;
    min-height: 90vh;
    scroll-margin-top: 135px;
    position: relative;
}
.about-page section:nth-child(even) {
    background: var(--mauve);
}

/* At larger screen widths, make adjustments. */
@media (min-width: 640px) {
    /* Sections on the about page. */
    .about-page section {
        padding: 0rem 4rem 4rem 4rem;
        scroll-margin-top: 228px;
    }
}

/* Headings in the lighter colored sections. */
.about-page section:nth-child(even) h1 {
    color: var(--black-cherry);
    font-weight: 800;
}

/* Paragraph and photo sections that slide in from either side of the screen. */
div.left-segment, div.right-segment {
    transition: all ease-out 1s;
}
div.left-segment {
    transform: translateX(-100%);
    opacity: 0;
}
div.right-segment {
    transform: translateX(100%);
    opacity: 0;
}
.slide-in {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

/* Curvy edges on the lighter colored blocks. */
.top-curve {
    position: absolute;
    top: -164px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
}
.top-curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 164px;
}
.top-curve .shape-fill {
    fill: #81555A;
}
.bottom-curve {
    position: absolute;
    bottom: -164px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.bottom-curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 164px;
}
.bottom-curve .shape-fill {
    fill: #81555A;
}
/** For mobile devices **/
@media (max-width: 767px) {
    .top-curve {
        top: -70px;
    }
    .top-curve svg {
        width: calc(100% + 1.3px);
        height: 71px;
    }
    .bottom-curve {
        bottom: -70px;
    }
    .bottom-curve svg {
        width: calc(100% + 1.3px);
        height: 71px;
    }
}