@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-mauve: #5B454C;
  --peach: #BF8776;
  --light-mauve: #81555A;
  --dusty-blue: #76A4C8;
  --oyster: #F9F4EA;
}

body {
  color: var(--oyster);
  background: var(--dark-mauve);
}

h1 {
  font-family: var(--font-big-shoulders-inline-text)
}

p {
  font-family: var(--font-big-shoulders-text)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.faded-bg {
  position: relative;
  border-radius: 0.375rem;
  z-index: 1;
}

.faded-bg:after {
  content: "";
  opacity: 0.4;
  height: 120%;
  width: 80%;
  position: absolute;
  top: -10%;
  left: 10%;
  border-radius: 0.375rem;
  z-index: -1;
}

.intro:after {
  background: var(--light-mauve);
}