@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Theme colors. */
  --linen: #F9F4EA;
  --plum: #5B454C;
  --black-cherry: #291e22;
  --mauve: #81555A;
  --peach: #BF8776;
  --dusty-blue: #7eb7d9;
  --sage: #acba91;
  --gray: #38494f;
  --sand: #c2bdb4;
}

/* Body. */
body {
  color: var(--linen);
  background: var(--plum);
}

/* Header. */
header {
  max-width: unset !important;
}

/* At larger screen widths, make adjustments. */
@media (min-width: 640px) {
  header {
    padding: 0 4rem !important;
  }
}

/* Fonts. */
h1 {
  font-family: var(--font-big-shoulders-inline-text);
}

p,
button,
h2,
h3,
h4,
span {
  font-family: var(--font-big-shoulders-text);
  letter-spacing: 0.05rem;
}

/* Theme where there is an slightly see-through rectangle behind a block of text. 
  The :after pseudo-element just needs a background color defined.
*/
.faded-bg {
  position: relative;
  border-radius: 0.5rem;
  z-index: 1;
}
.faded-bg:after {
  content: "";
  opacity: 0.4;
  height: 120%;
  width: 110%;
  position: absolute;
  left: -5%;
  top: -10%;
  border-radius: 0.5rem;
  z-index: -1;
}

/* The intro message after pseudo-element. */
.intro:after {
  background: var(--black-cherry);
}

/* Loading animation. */
.wavy-line {
  position: relative;
  width: 12rem;
  height: 25px;
  overflow: hidden;
}
.wavy-line::before {
  content: 'aaaaaaaaaaaaaaaaaaaaaaaa';
  position: absolute;
  top: -32px;
  left: 0;
  font-size: 2em;
  color: transparent;
  text-decoration-style: wavy;
  text-decoration-color: var(--peach);
  text-decoration-line: underline;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0px)
  }

  100% {
    transform: translateX(-212px)
  }
}

/* Slide up content revealing animation. */
.slide-up {
  animation: fade 2s, slideUp 1.5s;
}

@keyframes slideUp {
  0% {
    transform: translateY(50%);
  }

  40% {
    transform: translateY(-10%)
  }
}

/* Fade in content revealing animation. */
.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

/* Animation for the down arrows that bounce. */
.down-arrow {
  animation: 2s infinite ease-in-out bounce;
  box-shadow: 0px 0px 15px -3px;
  border-radius: 0.5rem;
}
@keyframes bounce {
  50% { transform: translateY(10px); }
}