.nav {
    background-color: var(--plum) !important;
}

.nav-menu {
    justify-content: center;
    align-items: center;
    gap: 3rem !important;
}

.nav-menu:after {
    content: "";
    background-image: url(../../../public/images/flower-wall.jpg);
    opacity: 0.2;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-toggle {
    width: 30px !important
}

.nav-icon:hover {
    transform: scale(1.2);
}

.nav-icon {
    transition: all 0.5s;
}

.nav-link {
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s;
}

.nav-link:hover {
    background-color: rgba(118, 164, 200, 0.4);
}