/* Navigation bar icons. */
.menu-toggle {
    width: 30px !important
}

/* Scale the icons on hover to create emphasis. */
.nav-icon:hover {
    transform: scale(1.5);
}

.nav-icon {
    transition: all 0.5s;
}

/* Navigation menu list. */
.nav-menu {
    justify-content: center;
    align-items: center;
    gap: 3rem !important;
}

/* Navigation menu list has the floral background. */
.nav-menu:after {
    content: "";
    background-image: url(../../../public/images/flower-wall.jpg);
    opacity: 0.2;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Navigation menu items. */
.nav-link {
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s;
}

.nav-link:hover {
    background-color: rgba(145, 153, 130, 0.4);
}