/* Major section headers. */
.section-header {
    font-weight: bold;
    color: var(--sand);
    width: 100%;
    background-color: var(--plum);
    border-radius: 4px;
    padding: 2rem 1rem;
    margin: 8rem auto 2rem auto;
    text-align: center;
    position: relative;
    z-index: 1;
    scroll-margin-top: 4rem;
}

.section-header:after {
    content: "";
    background-image: url(../../public/images/flower-wall.jpg);
    opacity: 0.15;
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: 0 0 1rem var(--black-cherry) inset;
    border-radius: 10px;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Project headers. */
.project-header {
    font-weight: bold;
    margin-top: 1rem;
}

/* Project descriptions. */
.project-description {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
}

/* Job activities lists. */
.job-description-list {
    list-style: circle outside;
    padding-left: 1rem;
}

/* Enlarge the skill tags on hover. */
.skill-tag {
    transition: all 0.5s;
}

.skill-tag:hover {
    transform: scale(1.2);
}

/* Make the resume link tags slightly larger. */
.resume {
    transform: scale(1.2);
}

/* Intro card with name, job title, and resume links. */
.business-card:after {
    background: var(--black-cherry)
}